<div id="infovis-container">


<div id="infovis-center-container">
    <div id="infovis">
	</div>    
</div>

<div id=infovis-right-container">

<div id="inner-details"></div>

</div>

<div style="left: 482.5px;" id="log">Title</div>
</div>


<div style="position: absolute; z-index: 13000; top: 397px; left: 828px; display: none;" class="tip" id="_tooltip"><div class="tip-title">graphnode1</div><div class="tip-text"><b>connections:</b> 15</div></div><div class="jit-autoadjust-label" style="visibility: hidden; position: absolute; width: auto; height: auto;"></div>

</div>
