{% load staticfiles%}
<div class="">

 <a href='{% static "sensecambrowser/img/exit.png" %}' />
<img src='{% static "sensecambrowser/img/exit.png" %}' title="" class="image1">
</a>
 <a href='{% static "sensecambrowser/img/previous.png" %}' />
<img src='{% static "sensecambrowser/img/previous.png" %}' height=40px width=40px title="" class="image1">
</a>
 <a href='{% static "sensecambrowser/img/play_slideshow.png" %}' />
<img src='{% static "sensecambrowser/img/play_slideshow.png" %}' height=40px width=40px title="" class="image1">
</a>
 <a href='{% static "sensecambrowser/img/next.png" %}' />
<img src='{% static "sensecambrowser/img/next.png" %}' height=40px width=40px title="" class="image1">
</a>
 <a href='{% static "sensecambrowser/img/share.png" %}' />
<img src='{% static "sensecambrowser/img/share.png" %}' title="" class="image1">
</a>
 <a href='{% static "sensecambrowser/img/favourite.png" %}' />
<img src='{% static "sensecambrowser/img/favourite.png" %}' title="" class="image1">
</a>
	<!-- button -->
	<div class="row pull-right">
	  <div class="btn-group" id="annotate-toggle">
	    <button  type="button" class="btn btn-default">Annotate</button>
	  </div>
	</div>
</div>
