      <footer>
        <div class="container">
          <div class='row'>
            <div class='col-md-1'>
              <h5>About</h5>
            </div>
            <div class='col-md-1'>
              <h5>Support</h5>
            </div>
            <div class='col-md-1'>
              <h5>Terms</h5>
            </div>
            <div class='col-md-1'>
              <h5>Privacy</h5>
            </div>
            <div class='col-md-1'>
              <h5>Cookies</h5>
            </div>
            <div class='col-md-4'>
				<a href="www.dcu.ie">Test</a>
				<h5>Collaborative</h5>
            </div>
          </div>
        </div>
      </footer>

<!--
	 <footer class="fixed">
      <div class="container">
        <div class="row">
          <ul class="col-sm-2">
            <li><a href="/">Home</a></li>
            <li><a href="/">Support</a></li>
            <li><a href="/">Terms</a></li>
          </ul>
          <ul class="col-sm-2">
            <li><a href="/for-individuals/">For Individuals</a></li>
            <li><a href="/your-privacy/">Your Privacy</a></li>
            <li><a href="/contribute-to-science/">Contribute to Science</a></li>
            <li><a href="/faq/">FAQ</a></li>
          </ul>
          <ul class="col-sm-2">
            <li><a href="./">For Cooperators</a></li>
            <li><a href="./">SFI</a></li>
            <li><a href="./">EI</a></li>
          </ul>
          <ul class="col-sm-2">
            <li><a href="./">About</a></li>
            <li><a href="./">Blog</a></li>
            <li><a href="./">Join Us</a></li>
            <li><a href="./">Press Cover</a></li>
          </ul>
          <ul class="col-sm-3 col-sm-offset-1 company">
            <li><a href="/" class="logotag"><object data="/static/img/logo-ginger.io-tag.svg" type="image/svg+xml"></object></a></li>
          </ul>
        </div>
{% include "includes/social.html" %}
    </footer> 
	-->
