<!--
http://animeshmanglik.name/
-->
<div id="sidebar-wrapper">
      <ul id="sidebar_menu">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<i class="fa fa2 fa-align-justify"></i></a></li>
           <li class="side_name sidebar-brand visible-lg visible-md active"><img class="img-responsive" src="/layout/avatar.png" alt="avatar"></li>
           <li class="side_name sidebar_name visible-lg visible-md active"><p>Animesh Manglik</p></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">     
          <li class="scroll active_nav"><a href="#home">Home<i class="fa fa-home"></i></a></li>
          <li class="scroll"><a href="#about">About<i class="fa fa-beer"></i></a></li>
          <li class="scroll"><a href="#resume">Resume<i class="fa fa-rocket"></i></a></li>
          <li class="scroll"><a href="#work">Work<i class="fa fa-headphones"></i></a></li>
          <li class="scroll"><a href="#contact">Contact<i class="fa fa-heart"></i></a></li>
        </ul>
        <ul class="sidebar-nav" id="side_download">
        <li class=""><a href="layout/Animesh%20Manglik.pdf" target="_blank">Resume<i class="fa fa-download"></i></a></li>
        <li class=""><a href="https://twitter.com/intent/follow?screen_name=animeshmanglik">Follow<i class="fa fa-twitter"></i></a></li>
        </ul>
</div>
