<div class="row">
          <ul class="col-sm-2 social">
            <li>Social</li>
            <li class="social clearfix"><a href="https://twitter.com/marissa_zhou" target="_blank"><i class="icon-twitter-sign icon-2x"></i></a><a href="https://www.facebook.com/Cohealthy" target="_blank"><i class="icon-facebook-sign icon-2x"></i></a><a href="http://www.linkedin.com/pub/lijuan-zhou/28/3b2/616" target="_blank"><i class="icon-linkedin-sign icon-2x"></i></a><a href="http://www.cohealthy.com" target="_blank">CoHealthy</a></li>
          </ul>
          <ul class="col-sm-2 contact">
            <li>Contact</li>
            <li><a href="/contact/">Leave Message</a></li>
            <li><a href="mailto:hello@ginger.io">hello@cohealthy.com</a></li>
            <li><a href="tel:+35317008563">353-87-913-7888</a></li>
            <li><a href="tel:+353879137888">353-87-913-7888</a></li>
          </ul>
          <ul class="col-sm-2 location">
            <li>Address</li>
            <li><a href="http://goo.gl/jhu2kc" target="_blank">Dublin, Ireland</a></li>
          </ul>
          <ul class="col-sm-2 location">
            <li>Company</li>
            <li><a href="http://www.cohealthy.com"><img src="http://nebula.wsimg.com/4226cdd92b55cda20b60a90b2ab677d5?AccessKeyId=313C69C9C706AADA1674"/></a></li>
          </ul>
        </div>
