<ul class = "list-group">
	<li class="list-group-item"> 
		1. Peter Scarborough, Richard Harrington, Anja Mizdrak, Lijuan Marissa Zhou, Aiden Doherty The Preventable Risk Integrated ModEl (PRIME) and its use to estimate the healthe impact of public health policy scenarios In: Journal of Scientica: Experts in Electrophys iology and Imaging
	</li>
	<li class="list-group-item"> 
		2. Zhou, Lijuan Marissa, Gurrin, Cathal. MemoryMesh-Lifelogs as Densely Linked Hypermedia. In: SenseCam 2013: Insights Into Human Behavior, 18-19 November 2013, San Diego, California, USA.
	</li>
	<li class="list-group-item"> 
		3. Zhou, Lijuan Marissa, Gurrin, Cathal and Qiu, Zhengwei. Zhiwo: Activity Tagging and
		Recognizing System from Personal Lifelogs. In: International Conference on Multimedia
		Retrieval, 16-20 April 2013, Dallas, Texas, USA.
	</li>
	<li class="list-group-item"> 
		4. Zhou, Lijuan Marissa and Caprani, Niamh and Gurrin, Cathal. ShareDay: A Multi-modal
		Lifelog System for Group Sharing. In: The 19th International Conference on Multimedia
		Modeling, 7-9 Jan 2012, Huangshan, Anhui, China.
	</li>
	<li class="list-group-item"> 
		5. Hopfgartner,Frank, Scott, David, Wang, Hongyi, Yang, Yang, Zhang, Zhenxin, Zhou, Li-
		juan Marissa, and Gurrin, Cathal. Helping the helpers: How video retrieval can assist
		special interest groups. In: The 19th International Conference on Multimedia Modeling,
		7-9 Jan 2012, Huangshan, Anhui, China.
	</li>
	<li class="list-group-item"> 
		6. Zhou, Lijuan Marissa and Caprani, Niamh and Gurrin, Cathal. ShareDay: A memory enhancing lifelogging system based on group sharing. In: Summer School on Social Media Modeling and Search SSMS 2012, 10-14 Sept 2012, Santorini, Greece. 2012
	</li>
	<li class="list-group-item"> 
		7. Zhou, Lijuan Marissa and Lu,Xueke and Gurrin, Cathal. A realtime lifelogging solution
		for iOS devices. in: Irish HCI, 20-21 June 2012, Galway, Ireland.
	</li>
	<li class="list-group-item"> 
		8. Zhou, Lijuan Marissa and Gurrin, Cathal. A survey on life logging data capturing. In:
		SenseCam Symposium 2012, 3-4 Apr 2012, Oxford, UK.
	</li>
	<li class="list-group-item"> 
		9. Zhou, Lijuan Marissa and Lin, Hongfei and Gurrin, Cathal. EMIR: A novel emotion-based
		music retrieval system. In: The 18th International Conference on Multimedia Modeling,
		4-6 Jan 2012, Klagenfurt, Austria.
	</li>
	<li class="list-group-item"> 
		10. Zhou, Lijuan, Lin, Hongfei and Liu, Wenfei. Enriching Music Information Retrieval Using
		Emotion Detection. In: SIGIR 2011Workshop on Enriching Information Retrieval. Beijing,
		China.
	</li>
	<li class="list-group-item"> 
		11. Wu, Di, Zhou, Lijuan, and Lin, Hongfei. The Design and Implementation of Graduate
		Occupation Recommendation System. In: Symposium of Search Engine and Web Mining,
		20-22 May 2012, Hebei, China. 2011.
	</li>
	<li class="list-group-item"> 
		12. Zhou, Lijuan, Lin, Hongfei and Luo, Wenhua. Criminal Network Recognition Mechanism
		Based on Entity Relationship. Application Research of Computers, 2010
	</li>
	<li class="list-group-item"> 
		13. Li, Jing, Lin, Hongfei, and Zhou, Lijuan. Emotion Tag Based Music Retrieval Algorithm.
		IN: The Sixth Asia Information Retrieval Societies Conference, 1-3 Dec 2010, Taipei,
		Taiwan.
	</li>
</ul>
