<!-- Temporary - currently here to apply style to the page (quick and dirty) -->
{% load staticfiles %}

<div class="row pull-right">
Sunday | March 4th, 2012 
<img src='{% static "sensecambrowser/img/day_toggle/prev_day.png" %}' height="38" width="42" title="previous day"/>
<img src='{% static "sensecambrowser/img/day_toggle/next_day.png" %}' height="38" width="42" title="next day"/>

<img src='{% static "sensecambrowser/img/zoom/minus_zoom.png" %}' height="38" width="42" title="zoom out"/>
<img src='{% static "sensecambrowser/img/zoom/plus_zoom.png" %}' height="38" width="42" title="zoom in"/>

</div>
<div class='space-separator-2'></div>

