<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
	<p>Activity</p>
    <li class="list-group-item">{% include "annotater/includes/annotate_panel.html" %}</li>
	<p>Position</p>
    <li class="list-group-item">{% include "annotater/includes/annotate_panel.html" %}</li>
	<p>Social Context/Interactions</p>
    <li class="list-group-item">{% include "annotater/includes/annotate_panel.html" %}</li>
	<p>Indoor/outdoor</p>
    <li class="list-group-item">{% include "annotater/includes/annotate_panel.html" %}</li>
  </ul>
</div>

