<select id="test-build-select" multiple="multiple" style="display: none;">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>
<div class="btn-group">
	<button type="button" class="multiselect dropdown-toggle btn btn-default" data-toggle="dropdown" title="2">2 <b class="caret"></b></button>
	<ul class="multiselect-container dropdown-menu">
		<li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="1"> 1</label></a></li>
		<li class="active"><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="2"> 2</label></a></li>
		<li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="3"> 3</label></a></li>
		<li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="4"> 4</label></a></li>
		<li><a href="javascript:void(0);"><label class="checkbox"><input type="checkbox" value="5"> 5</label></a></li>
	</ul>
</div>
