{% load staticfiles%}
<div class="">

	<!-- button -->
	<div class="row pull-right">
	  <div class="btn-group">
	    <button type="button" class="btn btn-default">Merge event with previous</button>
	    <button type="button" class="btn btn-default">Merge event with next</button>
	    <div> </div>
	    <button type="button" class="btn btn-warning">merge selected images with previous</button>
	    <button type="button" class="btn btn-success">merge selected images with next</button>
	  </div>
	</div>

</div>
