{% load staticfiles %}
<ul class="ad-thumb-list">
<li>
<input type="checkbox">
<img src='{% static "sensecambrowser/img/icon/event_icons/commuting.png" %}' class="image0" alt="commuting"/>
</input>
<input type="checkbox">
<img src='{% static "sensecambrowser/img/icon/event_icons/computer.png" %}' class="image0" alt="commuting"/>
</input>
<input type="checkbox">
<img src='{% static "sensecambrowser/img/icon/event_icons/working.png" %}' class="image0" alt="commuting"/>
</input>
<input type="checkbox">
<img src='{% static "sensecambrowser/img/icon/event_icons/socializing.png" %}' class="image0" alt="commuting"/>
</input>
</li>
<li>
<input type="checkbox">
<img src='{% static "sensecambrowser/img/icon/event_icons/commuting.png" %}' class="image0" alt="commuting"/>
</input>
<input type="checkbox">
<img src='{% static "sensecambrowser/img/icon/event_icons/computer.png" %}' class="image0" alt="commuting"/>
</input>
<input type="checkbox">
<img src='{% static "sensecambrowser/img/icon/event_icons/working.png" %}' class="image0" alt="commuting"/>
</input>
<input type="checkbox">
<img src='{% static "sensecambrowser/img/icon/event_icons/socializing.png" %}' class="image0" alt="commuting"/>
</input>
</li>
<li>
<input type="checkbox">
<img src='{% static "sensecambrowser/img/icon/event_icons/commuting.png" %}' class="image0" alt="commuting"/>
</input>
<input type="checkbox">
<img src='{% static "sensecambrowser/img/icon/event_icons/computer.png" %}' class="image0" alt="commuting"/>
</input>
<input type="checkbox">
<img src='{% static "sensecambrowser/img/icon/event_icons/working.png" %}' class="image0" alt="commuting"/>
</input>
<input type="checkbox">
<img src='{% static "sensecambrowser/img/icon/event_icons/socializing.png" %}' class="image0" alt="commuting"/>
</input>
</li>
</ul>
