<blockquote>
	<p>MemLog System is a lifelogging system for recording valuable life experience for your life. It not only helps to record moments &amp; experience.<br>It also help to record data that is health promotive later in your lifetime. <br> You can choose to save your moments for your own or share with other people, or even mark most valuable moments as favorite.</p>
</blockquote>

{% include "buttons/image_view_control.html" %}

<!-- The container for the list of example images -->
<div id="links"></div>
<br>

{% include "gallery/event_lightbox.html" %}
